.locationContainer {
    display: flex;
    padding-bottom: 60px;
}
.image {
    width: 570px;
    height: 320px;
    margin-right: 15px;
}
.locationDescription {
    margin-left: 75px;
}
.titleCity {
    padding: 0;
    margin: 0;
}
.companyName {

}
.address {

}