.headLine {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 32px;
    padding-top: 20px;
    width: 100%;
}
.title {
    font-family: Raleway, HelveticaNeue, Helvetica Neue, Helvetica-Neue, helvetica, arial, sans-serif;
    font-size: 34px;
    font-weight: 700;
}
.yellowBar {
    position: absolute;
    background-color: #fdca10;
    height: 8px;
    width: 86px;
    left: 0;
    top: 0;
}