.statsContainer {
    max-height: 844px;
    min-height: 100px;
    width: 100%;
    margin: 0;
    padding-top: 120px;
    padding-bottom: 105px;
}
.container {
    height: 580px;
    width: 100%;
    max-width: 1310px;
    max-height: 844px;
    margin: 0 auto;
}
.innerContainer {
    height: 100%;
    padding: 0 32px;
}